@import url('./vendor/normalize.css');
@import url('./vendor/fonts.css');
@import url('./blocks/header/header.css');
@import url('./blocks/aboutme/aboutme.css');
@import url('./blocks/information/information.css');
@import url('./blocks/skills/skills.css');
@import url('./blocks/technology/technology.css');
