.contacts__footer {
  font-family: 'Gilroy-Medium', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  width: 240px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 120px;
}
